<a href="/">项目1</a>
<a href="/">项目2</a>
<a href="/">项目3</a>
<a href="/">项目4</a>

<style>
    a{
        color: aqua;
        text-decoration: none;
        margin-right: 1em;
    }
    a:hover
</style>
